<form id="signUpForm" action="">
    <!-- start step indicators -->
    <div class="form-header d-flex mb-4">
      <span class="stepIndicator">Product Setup</span>
      <span class="stepIndicator">Social Profiles</span>
      <span class="stepIndicator">Personal Details</span>
      <span class="stepIndicator">Profile</span>
    </div>
    <!-- end step indicators -->

    <div class="step p-3 border-radius-xl bg-white js-active" data-animation="FadeIn">
      <h5 class="font-weight-bolder mb-0">About me</h5>
      <p class="mb-0 text-sm">Mandatory informations</p>
      <div class="multisteps-form__content">
        <div class="row mt-3">
          <div class="col-12 col-sm-6"> <label>SKU</label> <input class="multisteps-form__input form-control"
              type="text" placeholder="eg. Michael" onfocus="focused(this)" onfocusout="defocused(this)" id="name"> </div>
          <div class="col-12 col-sm-6 mt-3 mt-sm-0"> <label>Name</label> <input
              class="multisteps-form__input form-control" type="text" placeholder="eg. Prior"
              onfocus="focused(this)" onfocusout="defocused(this)"> </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-sm-6"> <label>Price</label> <input class="multisteps-form__input form-control"
              type="text" placeholder="eg. Creative Tim" onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
          <div class="col-12 col-sm-6 mt-3 mt-sm-0"> <label>Category</label> <input
              class="multisteps-form__input form-control" type="email" placeholder="eg. soft@dashboard.com"
              onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-sm-6"> <label>Supplier</label> <input class="multisteps-form__input form-control"
              type="text" placeholder="eg. Creative Tim" onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
          <div class="col-12 col-sm-6 mt-3 mt-sm-0"> <label>Country of manufacture</label> <input
              class="multisteps-form__input form-control" type="email" placeholder="eg. soft@dashboard.com"
              onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-sm-6"> <label>EAN</label> <input class="multisteps-form__input form-control"
              type="text" placeholder="eg. Creative Tim" onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
          <div class="col-12 col-sm-6 mt-3 mt-sm-0"> <label>Low Stock Alert</label> <input
              class="multisteps-form__input form-control" type="email" placeholder="eg. soft@dashboard.com"
              onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-sm-6"> <label>Weight</label> <input class="multisteps-form__input form-control"
              type="text" placeholder="eg. Creative Tim" onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
          <div class="col-12 col-sm-6 mt-3 mt-sm-0"> <label>Height</label> <input
              class="multisteps-form__input form-control" type="email" placeholder="eg. soft@dashboard.com"
              onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-sm-6"> <label>Width</label> <input class="multisteps-form__input form-control"
              type="text" placeholder="eg. Creative Tim" onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
          <div class="col-12 col-sm-6 mt-3 mt-sm-0"> <label>Depth</label> <input
              class="multisteps-form__input form-control" type="email" placeholder="eg. soft@dashboard.com"
              onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-sm-6"> <label>Volume</label> <input class="multisteps-form__input form-control"
              type="text" placeholder="eg. Creative Tim" onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
          <div class="col-12 col-sm-6 mt-3 mt-sm-0"> <label>CostPrice</label> <input
              class="multisteps-form__input form-control" type="email" placeholder="eg. soft@dashboard.com"
              onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
        </div>

      </div>
    </div>


    <div class="row mt-3">
        <div class="col-12 col-sm-12"> 
            <textarea id="description" name="description" rows="4" class="multisteps-form__input form-control" onfocus="focused(this)" onfocusout="defocused(this)"
            cols="50">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.</textarea>    
        </div>
      </div>
   
    <div class="step p-3 border-radius-xl bg-white" data-animation="FadeIn">
      <h5 class="font-weight-bolder">Address</h5>
      <div class="multisteps-form__content">
        <div class="row mt-3">
          <div class="col"> <label>Address 1</label> <input class="multisteps-form__input form-control" type="text"
              placeholder="eg. Street 111" onfocus="focused(this)" onfocusout="defocused(this)"> </div>
        </div>
        <div class="row mt-3">
          <div class="col"> <label>Address 2</label> <input class="multisteps-form__input form-control" type="text"
              placeholder="eg. Street 221" onfocus="focused(this)" onfocusout="defocused(this)"> </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-sm-6"> <label>City</label> <input class="multisteps-form__input form-control"
              type="text" placeholder="eg. Tokyo" onfocus="focused(this)" onfocusout="defocused(this)"> </div>
          <div class="col-6 col-sm-3 mt-3 mt-sm-0"> <label>State</label> <select
              class="multisteps-form__select form-control">
              <option selected="selected">...</option>
              <option value="1">State 1</option>
              <option value="2">State 2</option>
            </select> </div>
          <div class="col-6 col-sm-3 mt-3 mt-sm-0"> <label>Zip</label> <input
              class="multisteps-form__input form-control" type="text" placeholder="7 letters"
              onfocus="focused(this)" onfocusout="defocused(this)"> </div>
        </div>

      </div>
    </div>

    <div class="step p-3 border-radius-xl bg-white" data-animation="FadeIn">
      <h5 class="font-weight-bolder">Socials</h5>
      <div class="multisteps-form__content">
        <div class="row mt-3">
          <div class="col-12"> <label>Twitter Handle</label> <input class="multisteps-form__input form-control"
              type="text" placeholder="@soft" onfocus="focused(this)" onfocusout="defocused(this)"> </div>
          <div class="col-12 mt-3"> <label>Facebook Account</label> <input
              class="multisteps-form__input form-control" type="text" placeholder="https://..."
              onfocus="focused(this)" onfocusout="defocused(this)"> </div>
          <div class="col-12 mt-3"> <label>Instagram Account</label> <input
              class="multisteps-form__input form-control" type="text" placeholder="https://..."
              onfocus="focused(this)" onfocusout="defocused(this)"> </div>
        </div>
        <div class="row">
       
        </div>
      </div>
    </div>

    <div class="step p-3 border-radius-xl bg-white h-100" data-animation="FadeIn">
      <h5 class="font-weight-bolder">Profile</h5>
      <div class="multisteps-form__content mt-3">
        <div class="row">
          <div class="col-12"> <label>Public Email</label> <input class="multisteps-form__input form-control"
              type="text" placeholder="Use an address you don't use frequently." onfocus="focused(this)"
              onfocusout="defocused(this)"> </div>
          <div class="col-12 mt-3"> <label>Bio</label> <textarea class="multisteps-form__textarea form-control"
              rows="5" placeholder="Say a few words about who you are or what you're working on."></textarea>
          </div>
        </div>
       
      </div>
    </div>

    <!-- start previous / next buttons -->
    <div class="button-row d-flex mt-4">
      <button type="button" id="prevBtn" class="btn bg-gradient-dark ms-4 mb-0"
        onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" class="btn bg-gradient-dark ms-auto mb-0"
        onclick="nextPrev(1)">Next</button>
    </div>
    <!-- end previous / next buttons -->
  </form>